.blog-comment-wrapper{
  .blog-row{
    padding-top: 0px;
  }




     .reply-number{
       font-size: 20px;
       font-weight: 500;
       margin-top: 20px;
     }

     .ant-collapse{
       margin-right: 40px;
       @media screen and(max-width: 1224px) {
           margin-right: 0px;

       }
     }



     .reply-lists{
       margin-top: -20px;
       padding-right: 40px;


       .reply-block{
        // border: 1px solid #ddd;
         border: 5px solid rgb(224, 245, 239);
         background-color: rgb(224, 245, 239);
         padding: 12px 12px;
         display: flex;
         margin-top: 20px;
         img{
           margin-right: 10px;
         }
         .words-wrapper{
           display: flex;
           flex: 1 1 0% !important;
           flex-direction: column;
           .name{
             font-weight: 500 !important;
             color: rgb(110, 110, 110);
             display: block;
             font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
             font-size: 18px;
           }
           .content{
             margin-top: 8px;
           }
           .time{
             margin-top: 9px;
           }

         }
       }
     }


     .blog-comment{
       padding-right: 40px;
       margin-top: 80px;
       .reply-number{
          font-size: 20px;
          font-weight: 500;
          margin-top: 20px;
          margin-bottom: 10px;
      }


     }




}
